.loader {
  display: flex;
  perspective: 1000px;
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.magenta,
.cyan {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transform-origin: 50% 50%;
  margin: 0 2px;
}
.magenta {
  background-color: #ff00ff;
  mix-blend-mode: multiply;
  animation: move-left 1s ease-in-out infinite;
}
.cyan {
  background-color: #00ffff;
  mix-blend-mode: multiply;
  animation: move-right 1s ease-in-out infinite;
}

@keyframes move-left {
  0%,
  10% {
    transform: scale(1) translateX(0);
  }
  15% {
    transform: scale(0.8) translateX(-7px);
  }
  40%,
  60% {
    transform: scale(1) translateX(-14px);
  }
  75% {
    transform: scale(1.2) translateX(-7px);
  }
  90%,
  100% {
    transform: scale(1) translateX(0);
  }
}
@keyframes move-right {
  0%,
  10% {
    transform: scale(1) translateX(0);
  }
  15% {
    transform: scale(1.2) translateX(7px);
  }
  40%,
  60% {
    transform: scale(1) translateX(14px);
  }
  75% {
    transform: scale(0.8) translateX(7px);
  }
  90%,
  100% {
    transform: scale(1) translateX(0);
  }
}
