.home {
  background-color: #000;
  height: 100%;
  color: #fff;
}
.feed,
.swiper,
.slide {
  height: 100%;
}

.feed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
